:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
}

body {
    font-family: 'Arvo', serif;
    background: var(--light);
    word-spacing: 0.1rem;
    color:var(--dark);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1000px;
    width: 95%;
    margin: 0 auto;
    margin-top: 1em;
}

header {
    background:rgb(244, 245, 244);
    position: sticky;
    left: 0; 
    top:0;
}

.name-search {
    display:flex;
    justify-content: space-between;
}

.name-search form {
    margin: 0.8em 0;
}

.btn {
    padding: 0.4em 0.8em; 
    background: var(--dark);
    color: var(--light);
    text-decoration: none;
    border: rgb(43, 61, 226) solid 1px;
    font-size: 1.1rem;
}

.btn {
    cursor: pointer;
}

.navbar {
    max-width: 1000px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.navbar input[type='text']{
    font-size: 1.3rem;
}

.navbar h1 {
    margin-top: 0;
    margin-bottom:0;
    font-size: 2rem
}

.navbar p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
}

.navbar ul {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.25rem;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    padding: 0.5em;
    box-sizing: border-box;
}

.nav-link a {
    text-decoration: none;
    color:rgb(43, 61, 226);
    text-transform: capitalize;
}

.nav-link:hover {
    text-decoration: underline;
}

footer {
    margin-top: 50px;
    width: 100%;
    background-color: rgb(43, 61, 226);
    text-align: center;
}

.footer-content {
    max-width: 1000px;
    width: 95%;
    margin: 0 auto;
    background-color: rgb(43, 61, 226);
    color: white;
    box-sizing: border-box;
    font-size: 1.2em;
    padding: 1em;
}


.date {
    color:rgb(43, 61, 226);
}

.main-box {
    width: 65%;
    /* border: #333 solid 2px; */
}

.aside-boxes {
    width: 25%;
    /* border: #333 solid 2px; */
}
.content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.content h2+p {
    margin-bottom: 2em;
}


.large-box {
    padding-bottom: 1em;
    margin-bottom: 2em;
    border-bottom: gray solid 2px;
}

.large-box img+p {
    word-spacing: 1em;
}



.no-border {
    border:0;
}

.small-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    border-bottom: gray solid 2px;
}

.small-box img {
    height: 300px;
    object-fit: cover;
}

.small-box h2 {
    margin-top: 0;
}

.image-box {
    width: 30%;
}

.text-box {
    width: 65%;
}

.valyuta {
    width:100%;
    font-size: 2rem;
}

.box1 {
    margin-bottom: 2em;
}

.ob-havo {
    font-size: 1.2em;
    position: relative;
    height: 400px;
    object-fit: contain;
    object-position: right;
    text-indent: 2em;
    color:white
}

.ob-havo::after {
    content: "";
    background: url('https://media-cdn.tripadvisor.com/media/photo-w/1b/2e/e2/e1/hilton-tashkent-city.jpg');
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}


.aside-list {
    padding: 0;
    list-style: none;
}

.aside-list li {
    padding:0.5em;
}

.aside-list a {
    text-decoration: none;
    color: var(--dark);
}

.aside-list a:hover {
    color: rgb(43, 61, 226); 
}

@media (max-width:1000px) {
    .name-search {
        flex-direction: column;
        text-align: center;
    }
}

.page-box {
    padding: 0.4em;
    display: inline-block;
    border: 2px solid rgb(43, 61, 226);
    color:var(--dark);
}

@media (max-width:550px) {

    body {
        box-sizing: border-box;
    }
    header {
        position: relative;
    }

    .navbar ul {
        flex-direction: column;
        text-align: center;
    }

    .nav-link {
        margin-top: 1em;
    }

    .content {
        flex-direction: column;
    }

    .main-box {
        width:100%;
    }

    .aside-boxes {
        width:100%;
        display: flex;
        flex-direction: column;
        margin-top: 1em;
    }

    .aside-boxes img {
        display: none;
    }

    .box1 {
        margin-top: 4em;
        margin-bottom: 0;
    }

    .aside-list {
        list-style-type: disc;
        padding-left: 2em;
    }

    .text-box p {
        display: none;
    }

    .small-box {
        flex-direction: column;
    }
    
    .small-box img {
        height: auto;
    }

    .image-box {
        width: 100%;
    }

    .text-box {
        width:100%;
    }

    #izlash {
        margin-top: 1em;
    }

}

